.profile_popup {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f4efef00;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 5;
    padding-top: 60px;
}

.profile_picture {
    position: absolute;
    top: 20px;
    left: 20px; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
}

.profile_picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username {
    position: absolute;
    top: 150px;
    left: 30px; 
    font-weight: bold;
    margin: 0;
}

.section_container {
    display: flex;
    width: 100%;
    margin-top: 140px;
    justify-content: center;
}

.section {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.section:last-child {
    margin-right: 0;
}

.section h2 {
    margin-bottom: 10px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    margin-bottom: 5px;
}

.profile_button {
    position: absolute;
    top: 16px;
    right: 160px; 
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
}

.logout_btn {
    position: absolute;
    left: 10px;
    bottom: 0px;
}
